@import url(common.css);

/* 체크박스 */
.del-check input {
  accent-color: var(--clr-orange);
  position: absolute;
  top: 7%;
  right:2%;
  transform: scale(2);
  z-index: 100;
}
.del-check span {
  border-radius: 10px;
}

.p-img img{
  width: 180px !important;
  height: 180px !important;
  filter: drop-shadow(10px 6px 6px #c3c3c3);
  object-fit: cover;
}
.col-list{
  width:400px !important;
  height: 250px !important;
  overflow:hidden;
  object-fit: cover !important;
}
.col-list img{
  width:400px !important;
  height: 250px !important;
  object-fit: cover !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#search-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}
#search-collection .radio-group {
    margin-right: 1rem;
}
#search-collection .radio-group label {
    margin-right: 0.5rem;
}
