@import url(common/common.css);


/* * * 메인 슬라이드 * * */
.main-slide {
    position: relative;
    height: 575px;
    background-size: cover;
}
.main-slide.one {
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.main-slide .slide-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-slide .slide-item .fs-lg {
    font-size: 1.4rem !important;
    line-height: 1.5;
}
.main-slide .slide-item .btn {
    border: 1px solid var(--clr-orange);
    background-color: var(--clr-orange);
    margin: 0;
}
.main-slide:nth-child(3) .slide-item h1,
.main-slide:nth-child(4) .slide-item h1 {
    color: var(--clr-yellow) !important;
}


/* * * 컬렉션 추천 * * */
/* 컬렉션 추천 텍스트 */
.category {
    color: var(--clr-green);
}

/* 문화재 카드 상단 이미지 */
.card .card-img-top img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

/* 문화재 카드 하단 텍스트 */
.bg-success {
    background-color: var(--clr-green) !important;
}
.badge {
    font-size: 0.9rem;
}
.nav-link.stretched-link {
    font-size: 1.25rem;
}

/* 문화재 카드 그림자 */
.card.shadow-sm {
    /* box-shadow: 0.125rem 0.125rem -0.125rem rgb(31 27 45 / 8%), 0 0.25rem 0.75rem rgb(31 27 45 / 8%) !important; */
    box-shadow: 0 0.125rem 0.5rem -0.25rem rgb(31 27 45 / 10%), 0 0.25rem 1rem rgb(31 27 45 / 10%) !important;   
}

/* * * 행사 및 기획전 * * */
/* 행사 및 기획전 텍스트 */
.event.category {
    color: var(--clr-orange);
}
.event.more {
    color: var(--clr-orange);
}

/* 예매하기 버튼 */
.ticket {
    font-size: 1.125rem;
    font-weight: 400;
    border-color: var(--clr-orange);
    background-color: var(--clr-orange);
}


/* ===== 소영님 CSS ===== */
/* 6개 이미지 */
.bottom-ss {
    margin: 0;
    padding: 0;
    height: 500px;
    
    /* display: inline-block; */
    /* background-color: red; */

}  

.img-six-box {
    float: left;
    width: 630px;
    height: 500px;
    margin: 0;
    padding: 0;
    /* background-color: #31fd78; */
    
}

.img-six img {
    margin: 0;
    padding: 0;
    width: 210px;
    height: 214px;
    object-fit: cover !important;
}

.text6 {
    margin: 0 !important;
    padding: 0 0 40px 0 !important;
}


/* ===== 인화님 CSS ===== */
/* 커뮤니티 게시판 글자 */
.more {
    color: var(--clr-green);
}

table {
    font-size: 25px;
    border-collapse: separate;
    border-spacing: 20px;
    cursor: pointer;
}

.community {
    float: right;
}