h1 {
    font-family: 'GmarketSansMedium';
    color: rgb(87, 85, 85);
}

.page {
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
}

.sec1{
    width: 100%;
}

.logo {
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo a {
    font-size: 55px;
    font-family: 'Ansungtangmyun-Bold';
    color: var(--clr-green);
    text-decoration: none;
}

.login h1 {
    font-size: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.word {
    padding: 20 0px;
    text-align: left;
    width: 75%;
}

.word h1 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.box_and_check{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box_and_check .textbox1 {
    width: 78%;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'GmarketSansMedium';
    border: 1px solid black;
    outline-style: none;
}

.textbox2 {
    width: 100%;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'GmarketSansMedium';
    border: 1px solid black;
    outline-style: none;
}

.box_and_check .checkDup {
    width: 20%;
    height: 40px;
    background-color: var(--clr-green);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
}

.buttons{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons .b{
    width: 48.5%;
    height: 40px;
    background-color: var(--clr-green);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
}
