.themeshow{
  display: flex;
  width: 1100px;
  margin: 0 auto;
}

.themeshow-img-container{
  position: relative;
  cursor: pointer;
  margin-left:-2em;
}
.themeshow-img-container:nth-child(odd){
  margin-top:8em;
  margin-left:-2em;
}
.themeshow-img-1{
  position:absolute;
}
.themeshow-img-1:hover{
  opacity: 0;
}
.themeshow-img-txt{
  position: absolute;
  top:45%;
  left: 50%;
  color:white;
  font-size: 1.7em;
  font-weight: 900;
  transform: translate(-50%, -50%);
}
.top-up{
  margin-top: -8em;
}
.section-1,
.section-2,
.section-3,
.section-4
{
  margin-top: 8em;
}
.section-ttl{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.up-to{
  margin-top: -8em;
}

.recommend-thema{
  width: 1100px;
  margin: 0 auto;
}
.recommend-thema-ttl{
  border-bottom: 1px solid black ;
  font-size: 1.4em;
  font-weight: 900;
}
.recommend-thema-imgs{
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.recommend-thema-img-container>img{
  border-radius: 1em;
  height: 200px;
}
