:root {
    --clr-green: #50604E;
    --clr-beige: #D1CDC1;
    --clr-orange: #FD5631;
    --clr-yellow: #FFE922;
    --clr-dark-gray: #677788;
    --clr-light-gray: #F5F5F5;
    --clr-white: #fff;
}

/* Font */
@font-face {
    font-family: 'Ansungtangmyun-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium';
}